.container{
    display: flex;
    /*justify-content: space-around;*/
    flex-grow: 10px;
    flex-direction: row;
    height: 300px;
    width: 1280px;
    background-color: cornsilk;
    padding: 20px;
    margin: 20px;
    align-content: flex-end;
}
.kontainer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: darkgoldenrod;
}
